body {
  background-color: #f0f4f8;
  font-family: 'Segoe UI', sans-serif;

  .card {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(1.02);
  }
  
}
